#resume {
    position: absolute;
    left: 21vw;
    top: 10vw;
}

#works {
    position: absolute;
    left: 73vw;
    top: 10vw;
}

#articles {
    position: absolute;
    left: 27vw;
    top: 27.5vw;
}

#contact {
    position: absolute;
    left: 62vw;
    top: 29vw;
}

#resume img:hover {
    content: url('/img/简介1.png');
}

#works img:hover {
    content: url('/img/作品1.png');
}

#articles img:hover {
    content: url('/img/文章1.png');
}

#contact img:hover {
    content: url('/img/联系1.png');
}

#payment {
    position: absolute;
    left: 1vw;
    top: 30.5vw;
    width: 14vw;
    height: 10vw;
}

.hover-image {
    display: none;
    position: absolute;
    pointer-events: none;
    /* Prevent the image from interfering with mouse events */
}

#payment:hover .hover-image {
    display: block;
}